python-telegram-bot
Flask
Flask-Cors
pytz
pdfplumber
Pillow
beautifulsoup4
cryptography
APScheduler
openai
youtube-transcript-api
wikipedia
geopy
httpx
psutil
gTTS
trafilatura
requests
feedparser
edge-tts
