python-telegram-bot21.1.1
Flask3.0.3
Flask-Cors4.0.1
pytz2024.1
pdfplumber0.11.0
beautifulsoup44.12.3
cryptography42.0.5
APScheduler3.10.4
openai1.25.0
youtube-transcript-api0.6.2
wikipedia1.4.0
geopy2.4.1
httpx0.27.0
psutil5.9.8
gTTS==2.5.1
trafilatura1.7.0
